
.header{
    background-color: #333;
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
}


.navbarcustom {
    max-width: 1100px;
    color: white;
    padding: 0px 20px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbarcustom .firstPart{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbarcustom .firstPart img{
    width: 50px;
    height: 50px;
    margin-right: 50px;
}

.navbarcustom .secondPart button{
    background: #333;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

.navbarcustom .secondPart button:focus{
    outline: none;
}

.heading-size{
    font-size: 20px;
    font-weight: 600;
}

h1{
    margin: 0px ;
    padding: 0px ;
}

.header-cart-icon{
    padding-right: 20px;
    color: orange;
}


@media screen and (max-width: 600px) {
    .navbarcustom .firstPart img{
        margin-right: 10px;
    }
}